html {
    height: 100%;
    width: 100%;
    background-color: rgb(210, 233, 235);
}

body{
    width: 100%;
    height: 100%;
}

.botao{
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
    border: 1px black solid
}

footer {
    position: fixed;
    width: 100%;
    display: flex;
    border-top: 1.5px solid rgb(205, 203, 203);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 1.5rem 0;
    background-color: white;
    position: fixed;
    bottom: 0;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header img{
    height:4rem;
}