html {
    height: 100%;
    width: 100%;
    background-color: rgb(210, 233, 235);
}

.botao{
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    border: 0.01rem black solid
}

footer {
    width: 100%;
    display: flex;
    border-top: 1.5px solid rgb(205, 203, 203);
    flex-direction: row;
    align-items: center;
    background-color: white;
    position:absolute;
    bottom: 0;
    justify-content: space-evenly;
    padding: 0.4rem 0 0.4rem 0;
}

footer img{
    display: flex;
    flex-direction: row;
    padding:0.5rem 1rem;

}

