html{ 
    width: 100%;
    height: 100%;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

header p{
    font-size:3rem;
}
.footerindex {
    display: flex;
    border-top: 1.5px solid rgb(205, 203, 203);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0 1.5rem 0;
    margin-top: 1rem;
    background-color: white;
    bottom: 0;
    width: 100%;
    align-self: flex-end;
    position: fixed;
    bottom: 0;
}

.caixa_tendencias{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-wrap: wrap;
    border: 2px solid gray;
}

.trend{
    width: 15rem;
}