
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5rem 1rem 0 1rem;

}

.footerindex {
    display: flex;
    border-top: 1.5px solid rgb(136, 136, 136);
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding: 0.4rem 0 0 0;
    bottom: 0;
    width: 100%;
}

footer img{
    width: 5rem;
}
.caixa_tendencias{
    height: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid gray;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    border-radius:0.8rem;
    padding: 0.5rem 0;
    overflow-y: scroll;
}

.trend{
    width: 6rem;
    height: 9rem;
    display: flex;    
    flex-wrap: wrap;
    margin: 0.1rem;
    border-radius: 10%;
}

.caixa_hist{
    width: 18rem;
    display: flex;
    margin-top: 0.3rem;
    padding: 0.3rem 0.5rem;
    border: 2px solid gray;
    border-radius: 3rem;
    overflow-x: scroll;
}
.corhist{
    width: 4rem;
    height: 4rem;
    border: 0.18rem solid gray;
    border-radius: 50%;
    margin-right: 0.3rem;
}